# op inject -i secrets.pkr.hcl.example -o secrets.pkr.hcl

proxmox_api_url          = "{{op://Private/Proxmox-T620-Packer/api_url}}"
proxmox_api_token_id     = "{{op://Private/Proxmox-T620-Packer/token_id}}"
proxmox_api_token_secret = "{{op://Private/Proxmox-T620-Packer/token_secret}}"
