# Copy this snippet to variables.pkr.hcl and fill-in values or use:
# op inject -i variables_secrets.pkr.hcl.example -o variables_secrets.pkr.hcl
# to populate this file from 1password vault.
# NOTE: proxmox_api_url = "<IP/DN>:8006/api2/json"

proxmox_api_url          = "{{op://Private/Proxmox-Packer-T620/api_url}}"
proxmox_api_token_id     = "{{op://Private/Proxmox-Packer-T620/token_id}}"
proxmox_api_token_secret = "{{op://Private/Proxmox-Packer-T620/token_secret}}"
