version: "2.1"

networks:
  media-network:
    external: true

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: {{ stack_plex_container_name }}
    network_mode: host
    userns_mode: keep-id
    environment:
{% if stack_operation == 'deploy' and (plex_claim_token is defined and plex_claim_token | length > 0) %}
      - PLEX_CLAIM={{ plex_claim_token }}
{% endif %}
    volumes:
      - {{ stack_data_dir }}/{{ stack_plex_container_name }}:/config:Z,U
      - {{ stack_media_mount_root }}/tv:/tv
      - {{ stack_media_mount_root }}/movies:/movies
      - {{ stack_media_mount_root }}/music:/music
    restart: unless-stopped
