#   op inject -i media.yml.example -o media.yml
---
ansible_host: "{{op://Private/Proxmox-T620-Media/ip}}"
ansible_become_password: "{{op://Private/Proxmox-T620-Media/password}}"
ansible_user: "{{op://Private/Proxmox-T620-Media/user}}"

media_plex_x_plex_token: "{{op://Shared/Plex/X-Plex-Token}}"

media_delugevpn_wireguard_private_key: "{{op://Private/Mullvad-VPN/wireguard-private-key-2}}"
media_delugevpn_wireguard_address: "{{op://Private/Mullvad-VPN/wireguard-addresses-2}}"
media_delugevpn_wireguard_dns: "{{op://Private/Mullvad-VPN/wireguard-dns-2}}"
media_delugevpn_wireguard_peer_public_key: "{{op://Private/Mullvad-VPN/wireguard-public-key-2}}"
media_delugevpn_wireguard_endpoint: "{{op://Private/Mullvad-VPN/wireguard-endpoint-2}}"
media_delugevpn_lan_network: "192.168.20.0/24, 192.168.1.0/24"

