# op inject -i secrets.hcl.example -o secrets.hcl

locals {
  proxmox_api_url      = "{{op://Private/Proxmox-T620/api_url}}"
  proxmox_api_password = "{{op://Private/Proxmox-T620/password}}"
  proxmox_host         = "{{op://Private/Proxmox-T620/ip}}"
  proxmox_ssh_password = "{{op://Private/Proxmox-T620/ssh_password}}"
}
