# Copy this snippet to variables_secrets.tfvars and fill-in values or use:
# op inject -i variables_secrets.tfvars.example -o variables_secrets.tfvars
# to populate this file from 1password vault.
# NOTE: proxmox_api_url = "<IP/DN>:8006/api2/json"

proxmox_api_url          = "{{op://Private/Proxmox-Terraform/api_url}}"
proxmox_api_token_id     = "{{op://Private/Proxmox-Terraform/token_id}}"
proxmox_api_token_secret = "{{op://Private/Proxmox-Terraform/token_secret}}"

t620_proxmox_host         = "{{op://Private/Proxmox-T620/ip}}"
t620_proxmox_ssh_user     = "{{op://Private/Proxmox-T620/ssh_user}}"
t620_proxmox_ssh_password = "{{op://Private/Proxmox-T620/ssh_password}}"

t620_microos_media_macaddr    = "{{op://Private/Proxmox-T620-Media/macaddr}}"
t620_microos_media_public_key = "{{op://Private/Proxmox-T620-Media/public key}}"
t620_microos_media_password   = "{{op://Private/Proxmox-T620-Media/password}}"
