# Copy this snippet to variables_secrets.tfvars and fill in values or use:
# op inject -i variables_secrets.tfvars.example -o variables_secrets.tfvars
# to populate this file from 1Password vault.
# NOTE: proxmox_api_url = "<IP/DN>:8006/api2/json"

proxmox_api_url          = "{{op://Private/Proxmox-T620/api_url}}"
proxmox_api_user         = "{{op://Private/Proxmox-T620/username}}"
proxmox_api_password     = "{{op://Private/Proxmox-T620/password}}"

t620_proxmox_host         = "{{op://Private/Proxmox-T620/ip}}"
t620_proxmox_ssh_user     = "{{op://Private/Proxmox-T620/ssh_user}}"
t620_proxmox_ssh_password = "{{op://Private/Proxmox-T620/ssh_password}}"

t620_microos_media_macaddr            = "{{op://Private/Proxmox-T620-Media/macaddr}}"
t620_microos_media_public_key         = "{{op://Private/Proxmox-T620-Media/public key}}"
t620_microos_media_password           = "{{op://Private/Proxmox-T620-Media/password}}"
t620_microos_media_external_disk_id   = "{{op://Private/Proxmox-T620-Media/disk_sn}}"
