# op inject -i secrets.hcl.example -o secrets.hcl

locals {
  macaddr    = "{{op://Private/Proxmox-T620-Unifi/macaddr}}"
  public_key = "{{op://Private/Proxmox-T620-Unifi/public key}}"
  password   = "{{op://Private/Proxmox-T620-Unifi/password}}"
}
