version: "2.1"

networks:
  media-network:
    external: true

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: {{ plex_container_name }}
    network_mode: host
    userns_mode: keep-id
    environment:
      - PUID={{ podman_compose_uid_result.stdout }}
      - PGID={{ podman_compose_gid_result.stdout }}
      - VERSION=docker
    volumes:
      - {{ podman_compose_data_dir }}/{{ plex_container_name }}:/config:Z,U
      - {{ media_mount_root }}/tv:/tv
      - {{ media_mount_root }}/movies:/movies
      - {{ media_mount_root }}/music:/music
    restart: unless-stopped
