# Copy this snippet to module.tf and fill-in values or use:
# op inject -i module.tf.example -o module.tf
# to populate this file from 1password vault.

resource "proxmox_vm_qemu" "microos-media" {
  name        = "microos-media"
  description = "MicroOS host for media containers"
  vmid        = 1001
  target_node = "t620"

  agent = 1
  skip_ipv6 = true

  clone = "microos.20260311-2203"
  cpu {
    cores   = 4
    sockets = 1
  }
  memory = 4096

  network {
    id     = 0
    bridge = "vmbr1"
    model  = "virtio"
    macaddr = "{{op://Private/Proxmox-T620-Media/macaddr}}"
  }

  disk {
    storage = "local-zfs"
    slot = "virtio0"
    type    = "disk"
    size    = "25G"
  }

  os_type = "cloud-init"
}
